{% extends 'base.html' %}

{% block 'conteudo' %}

<div class="container">
    <div class="row">
        <div class="col-md">
            
            {% for livro in livros %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">{{livro.nome_livro}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{livro.autor}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Data de cadastro: {{livro.data_cadastro}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">Categoria: {{livro.nome_categoria}}</h6>
                    <!--{% if livro.emprestado %}
                        {{livro.quantidade }} <svg style="color: green;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                          </svg>
                    {% else %} 
                        Livro não emprestado
                    {% endif %}
                     -->
                    <br><br>

                    <a href="{% url 'ver_livros' livro.id %}" class="btn btn-info"> Acessar</a>
                    </div>
                </div>
            {% endfor %}
        
            </div>

    </div>
    
</div>


{% endblock %}